body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.half-area{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
    height: 650px;
}

.half-area img{
    height: 100%;
}
.orange-text{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    color: dimgray;
}
.footer p{
    text-align: center;
}
.button{
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(45deg, #FF9D77, #FF6448);
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}
.button:hover{
    background: linear-gradient(135deg, #FF6448 , #FF9D77);
    box-shadow: 2px 2px 30px gray;
}
section{
    padding-bottom: 50px;
    clear: both;
}
.top{
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat;
    height: 600px;
}
.dream{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: right;
}
.exp{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    height: 600px;
    background-position: left;
}

.exp-box{
    padding-left: 2%;
    height: 80%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;
    border-left: 9px solid;
    background: white;
    overflow: scroll;
    
}
#full{
    border-image-source: linear-gradient(180deg, orange, tomato);
    border-image-slice: 1;
}
#baby{
    border-image-source: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.exp > h2{
    text-align: center;
}
#coppy{
    text-align: center;
    display: block;
}